:root {
  --white: #fff;

  --dark: #000;
  --dark-100: #111111;

  --gray-100: #ededed;
  --gray-300: #cccccc;
  --gray-400: #9e9d9d;
  --gray-800: #343a40;

  --blue-300: #1e7b9c;
  --blue-500: #0a6789;

  --orange-300: #ff7a4a;
  --orange-500: #fa6632;

  --yellow-500: #fecd23;

  --green-500: #0a996f;
}

body {
  font-family: "Noto Sans", sans-serif;
}
