:root {
  --white: #fff;
  --black: #000;

  --gray-100: #f1f3f5;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-800: #343a40;

  --blue-500: #3672E9;
  --blue-700: #0a9789;

  --orange-500: #fa6632;

  --yellow-500: #fecd23;

  --green-500: #0a996f;
}

body {
  font-family: "Montserrat", sans-serif;
}
