body {
  background-color: var(--gray-100);
}

.container__main {
  display: flex;
  align-items: center;
  justify-content: center;

  .container__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--black);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    height: 100vh;
    max-width: 500px;
    width: 100%;
    padding: 16px;

    img {
      height: 200px;
    }

    .title__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      background-color: var(--gray-300);
      border-radius: 38px;

      margin-top: 32px;
      padding: 16px;

      .content__title {
        background-color: var(--yellow-500);
        border-radius: 28px;

        padding: 16px;
        text-align: center;

        h1 {
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 700;

          width: auto;
        }
      }

      .btn__connect {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        color: var(--white);

        background-color: var(--blue-700);

        -webkit-transition: background-color 0.3s; /* Safari e Chrome */
        transition: background-color 0.3s;

        border: none;
        border-radius: 20px;

        margin-top: 16px;
        padding: 12px 20px;

        cursor: pointer;

        &:hover {
          background-color: var(--green-500);
        }
      }
    }
  }
}

/* Media Query para Desktop */
@media (min-width: 768px) {
  .container__content {
    /* Estilização para desktop pode ser adicionada aqui */
  }
}
